<%= render partial: 'slider' %>

<div class="row show-grid">
  <div class="span12 lenta">
    <h5><%= t '.lenta' %></h5>

    <ul class="media-grid">
      <% @items.each do |item| %>
        <li>
          <%= link_to image_tag(item.image.url :medium), item %>
        </li>
      <% end %>
    </ul>
    <%= paginate @items, window: 5 %>
  </div>


  <div class="span4 sidebar"><%= render partial: 'tag_cloud' %></div>
</div>

<% if true or (current_user and current_user.admin?) %>
  <%= link_to 'New Item', new_item_path %>
<% end %>
