
<div class="row" style="margin-top:8px;">
  <div class="span11">
    <ul class="media-grid">
      <li>
        <a href="#" ><img class="thumbnail" src="http://placehold.it/940x200" alt=""></a>
      </li>
    </ul>

  </div>
  <div class="span5">
    <br/>
    <h1>Hello, world!</h1>
    <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Deget lacinia odio sem nec elit.</p>
    <p><a class="btn primary large">Learn more &raquo;</a></p>
  </div>
</div>


<div class="row show-grid">
  <div class="span12 lenta">
    <%= paginate @items, window: 5 %>

    <ul class="media-grid">
      <% @items.each do |item| %>
        <li>
          <%= link_to image_tag(item.image.url :medium), item %>
        </li>
      <% end %>
    </ul>
    <%= paginate @items, window: 5 %>
  </div>


  <div class="span4 sidebar"><%= render partial: 'tag_cloud' %></div>
</div>

<% if true or (current_user and current_user.admin?) %>
  <%= link_to 'New Item', new_item_path %>
<% end %>
