<!DOCTYPE html>
<html>
  <head>
    <title><%= t '.title' %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main">
      <div id="header" class="container">
        <%= link_to image_tag('logo.png', height: 45), root_path, class: 'logo' %>
        <div class="user_stuff">
          <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to t('.signout'), destroy_user_session_path, :method => :delete, class: 'btn' %>
              </li>
            <% else %>
              <li><%= link_to t('.signin'), new_user_session_path, class: 'btn' %></li>
              <li><%= link_to t('.signup'), new_registration_path(:user), class: 'btn' %></li>
            <% end %>
          </ul>
        </div>

        <div class="search">
          <div class="input">
            <div class="input-append">
              <%= text_field_tag 'search_term', params[:search_term],
                'class'           => 'span7 autocomplete_with_tags',
                'placeholder'     => t('.search_placeholder'),
                'data-queryParam' => 'q' %>
                <label class="add-on">Искать</label>
            </div>
          </div>
        </div>

      </div>

      <div id="site" class="container">
        <%= yield %>
      </div>

      <div id="footer"></div>
    </div>
  </body>
</html>
